<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<title>Home Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Motorbike Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'admin/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'admin/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'admin/css/font-awesome.css' %}" rel="stylesheet"> <!-- font-awesome icons -->
<link rel="stylesheet" href="{% static 'admin/css/lightbox.css' %}">
<!--//Custom Theme files-->
<!-- js -->
<script src="{% static 'admin/js/jquery-2.2.3.min.js' %}"></script>
<!-- //js -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- //web-fonts -->
</head>
<body>
<script>

{% for m in messages %}
      swal({
  title: "Are you sure?",
  text: "Once You Login, your account will block if multiple failure occurs!!!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("You have logged In Sucessfully", {
      icon: "success",
    });
  } else {
    swal("Your account is safe!");
  }
});
{% endfor %}

</script>
	<!-- banner -->

	<div id="home" class="banner" style="height:800px;">

		<div class="banner-agileinfo">
			{% block content %}

			<!-- header -->
			<div class="header">

				<div class="container">
					<div class="logo">
						<h1><a href="/admin_home/">Users</a></h1>
					</div>

					{% if user.approved and user.admin_status and user.secure%}
						<div class="menu">
							<a href=""  id="menuToggle"> <span class="navClosed"></span> </a>
							<nav>
								<a href="/admin_home/">Home</a>
<!--								<a href="/chat_bot/">Help Desk</a>-->
								{% if user.admin_status %}
								<a href="/allow_users/" >Allow Users</a>
								{% endif %}
								<a href="/message_/" >Message App</a>
								<a href="/_gallery/" >Files</a>
								<a href="/robot_home/" >Robot</a>
								<a href="/security_home/" >Security Alert</a>
								<a href="/user_logout/">Logout</a>
							</nav>
						</div>
						<script>
						(function($){
							// Menu Functions
							$(document).ready(function(){
								$('#menuToggle').click(function(e){
									var $parent = $(this).parent('.menu');
									$parent.toggleClass("open");
									var navState = $parent.hasClass('open') ? "hide" : "show";
									$(this).attr("title", navState + " navigation");
										// Set the timeout to the animation length in the CSS.
										setTimeout(function(){
											console.log("timeout set");
											$('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
										}, 200);
									e.preventDefault();
								});
							});
						})(jQuery);
						</script>
					{% elif u.approved and user.secure %}
						<div class="menu">
							<a href="" id="menuToggle"> <span class="navClosed"></span> </a>
							<nav>
								<a href="/admin_home/">Home</a>
								<a href="/chat_bot/">Help Desk</a>
								{% if user.admin_status %}
								<a href="/allow_users/" >Allow Users</a>
								{% endif %}
								<a href="/message_/" >Message App</a>
								<a href="/_gallery/" >Files</a>
								<a href="/robot_home/" >Robot</a>
								<a href="/security_home/" >Security Alert</a>
								<a href="/user_logout/">Logout</a>
							</nav>
						</div>
						<script>
							(function($){
								// Menu Functions
								$(document).ready(function(){
									$('#menuToggle').click(function(e){
										var $parent = $(this).parent('.menu');
										$parent.toggleClass("open");
										var navState = $parent.hasClass('open') ? "hide" : "show";
										$(this).attr("title", navState + " navigation");
											// Set the timeout to the animation length in the CSS.
											setTimeout(function(){
												console.log("timeout set");
												$('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
											}, 200);
										e.preventDefault();
									});
								});
							})(jQuery);
							</script>
					{% endif %}



					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //header -->
			<div class="banner-text">
				<div class="container">
<!--					<h2>SHARE YOUR CONTENTS SAFE USING<span>OAUTH TOKENS</span></h2>-->
<!--					<a href="" class="buy btn-wayra scroll"></a>-->
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'admin/js/SmoothScroll.min.js' %}"></script>
	<script src="{% static 'admin/js/jarallax.js' %}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<script type="text/javascript" src="{% static 'admin/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/easing.js' %}"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
    <script src="{% static 'admin/js/bootstrap.js' %}"></script>
{% endblock %}
</body>
</html>